copy.env
logs/crawler.log
web/run.py
.gitignore
__pycache__
core
.env
javbus_web_movies.json
.gitignore
test.html
cover/
actresses/
logs/gunicorn_access.log
logs/gunicorn_error.log
covers/
actresses.zip
image/
logs/app.log
test.txt
.log
myfolder.zip
app_info.log
logs/app_debug.log
logs/app_error.log
logs/app_warning.log
logs/app_info.log.1
logs/app_info.log.4
web/static/backups/
JellfinData