copy.env
logs/crawler.log
web/run.py
.gitignore
__pycache__
core
.env
javbus_web_movies.json
.gitignore
test.html
cover/
actresses/
logs/gunicorn_access.log
logs/gunicorn_error.log
covers/
actresses.zip
image/
logs/app.log
test.txt
.log